pipeline/copy to DW.json
{
	"name": "copy to DW",
	"properties": {
		"activities": [
			{
				"name": "CreateDimFact",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "DECLARE @sql0 NVARCHAR(max)=''\nSELECT @sql0 += ' Drop table ' + QUOTENAME(TABLE_SCHEMA) + '.'+ QUOTENAME(TABLE_NAME) + '; '\nFROM   INFORMATION_SCHEMA.TABLES\nWHERE  Table_schema = 'Dimension' or Table_schema = 'Fact'\nExec Sp_executesql @sql0\n\nDECLARE @sql nvarchar(max)\nDECLARE @sql2 nvarchar(max)\nSET @sql = 'drop schema if exists Dimension GO create schema Dimension'\nSET @sql2 = 'drop schema if exists Fact GO create schema Fact'\nEXEC sp_executesql @sql\nEXEC sp_executesql @sql2\n\nSELECT *\nINTO Dimension.Suppliers\nFROM Integration.Suppliers \n\n\nSELECT p.PurchaseSKey\n\t, p.[OrderDate]\n\t, p.SupplierSKey\n\t, p.[StockItemID]\n\t, p.[PurchaseOrderID]\n\t, p.[OrderedOuters]\n\t, p.[ReceivedOuters]\n\t, p.[PackageTypeID]\n\t, p.[IsOrderFinalized]\nINTO Fact.Purchase\nFROM Integration.Purchase p\n\n\nSELECT t.TransSKey\n\t, t.[TransactionDate]\n\t, t.SupplierSKey\n\t, t.[TransactionTypeID]\n\t, t.[PaymentMethodID]\n\t, t.[SupplierTransactionID]\n\t, t.[PurchaseOrderID]\n\t, t.[SupplierInvoiceNumber]\n\t, t.[AmountExcludingTax]\n\t, t.[TaxAmount]\n\t, t.[TransactionAmount]\n\t, t.[OutstandingBalance]\n\t, t.[IsFinalized]\nINTO Fact.Transactions\nFROM Integration.Transactions t\n\nSELECT * FROM Fact.Transactions\nSELECT * FROM Dimension.Suppliers\n\n\n\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "RandomODSTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "CreateDimFact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CreateDimFact').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopytoDW",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT table_schema, table_name\nFROM information_schema.TABLES \nWHERE table_schema = 'Dimension' OR table_schema = 'Fact'",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "OnlyDimFactTabs",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "PurchaseDW",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}