pipeline/GitCreateETL.json
{
	"name": "GitCreateETL",
	"properties": {
		"activities": [
			{
				"name": "CopyToPurchaseODS",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupPurchaseTabs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupPurchaseTabs').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyToODS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "TruncateStaging",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"additionalColumns": [
										{
											"name": "IngestTime",
											"value": {
												"value": "@convertTimeZone(utcNow(),'UTC','Eastern Standard Time')",
												"type": "Expression"
											}
										}
									],
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "PurchaseTabs",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CopyToODSOutput",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "addSurrogate",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopyToODS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "addSurrogate",
									"type": "DataFlowReference",
									"datasetParameters": {
										"source1": {
											"schema": {
												"value": "@item().table_schema",
												"type": "Expression"
											},
											"table": {
												"value": "@item().table_name",
												"type": "Expression"
											}
										},
										"SurrogatedTables": {
											"schema": {
												"value": "@item().table_schema",
												"type": "Expression"
											},
											"table": {
												"value": "@concat('Surrogate_',item().table_name)",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "TruncateStaging",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "DECLARE @sql NVARCHAR(max)=''\n\nSELECT @sql += ' Truncate table ' + QUOTENAME(TABLE_SCHEMA) + '.'+ QUOTENAME(TABLE_NAME) + '; '\nFROM   INFORMATION_SCHEMA.TABLES\nWHERE  TABLE_TYPE = 'BASE TABLE'\n\nExec Sp_executesql @sql\n\nSelect *\nFROM   INFORMATION_SCHEMA.TABLES\n",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "CopyToODSOutput",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().table_schema",
											"type": "Expression"
										},
										"table": {
											"value": "@item().table_name",
											"type": "Expression"
										}
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LookupPurchaseTabs",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "\nSELECT table_schema, table_name \nFROM information_schema.TABLES \nWHERE table_schema= 'Purchasing'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "randomODStab",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "updateSurrogate",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "CopyToPurchaseODS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "updateSurrogate",
						"type": "DataFlowReference",
						"datasetParameters": {
							"SurrogatedSup": {
								"schema": "Purchasing",
								"table": "Surrogate_Suppliers"
							},
							"SurrogatedPurchase": {
								"schema": "Purchasing",
								"table": "Surrogate_PurchaseOrderLines"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine",
					"runConcurrently": true
				}
			}
		],
		"annotations": []
	}
}