pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "Drop table if exists masterTable;\nDrop table if exists masterTab;\n\nCreate table masterTable (\n    ID int identity(1,1),\n    [Key] varchar(100),\n    [Value] varchar(max)\n);\n\nSELECT concat(table_schema,'.',table_name) as t\nFROM information_schema.TABLES \nWHERE table_schema= 'Purchasing' \n    or table_name = 'StockItems' \n    or table_name = 'PackageTypes'\n    or table_name = 'TransactionTypes'\n    or table_name = 'PaymentMethods'\n    or table_name = 'People'\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "randomWWITab",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Update MasterTable",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "wwiStandard",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "Insert into masterTable ([Key], [Value])\nValues ('Purchase_table_load','@{activity('Lookup1').output.value}'),\n        ('Purchase_time_load', null)\nSelect * from masterTable",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"variables": {
			"tab": {
				"type": "Array"
			},
			"watermark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}